/* 主题色 */
$color: #1ABC9C;
$bg-color: #FCFCFC;
$border-color: #CCCCCC;
$bar-color: #474C5B;
$font-color: #666666;
$font-light-color: #999999;
$font-bar-color: #CCCCCC;



/* icon字体大小 */
$icon-font-size: 18px;

/* icon字体颜色 */
$icon-font-color: #ccc;